/* Colores del tema */
/* Cuerpo */
body {
  background: var(--primary-bg-colour);
}

/* Barra lateral */
.sidebar {
  background: var(--secondary-colour);
}

.sidebar li .icon {
  color: var(--font-light-colour);
}

.sidebar li a:hover .icon {
  color: var(--primary-colour);
}

.sidebar li .icon.active {
  color: var(--primary-colour);
}

/* Contenedor de carpetas */
.folder-container {
  background: var(--secondary-bg-colour);
  color: var(--font-light-colour);
}

.folder-tree .file {
  color: var(--font-light-colour);
}

/* Contenedor de notas */
.note-container {
  background: var(--primary-bg-colour);
}

/* Colores de texto */
.note-title,
.note-body {
  color: var(--font-dark-colour);
  background: var(--primary-bg-colour);
}

/* Color de fuente oscuro */
.note-container .tool-bar .note-name {
  color: var(--font-dark-colour);
}

/* Botón */
.button {
  background-color: var(--primary-colour);
  color: var(--font-light-colour);
}

.button:hover {
  background-color: var(--secondary-colour);
}

.folder-buttons i:hover {
  color: var(--primary-colour);
}

.folder-options i:hover {
  color: var(--primary-colour);
}

.folder-tree .file:hover,
.folder-tree .folder:hover {
  background-color: rgb(146, 146, 146);
}

.task {
  background: var(--primary-bg-colour);
}

.palette:hover {
  border-color: var(--primary-colour);
}

.palette {
  border-color: var(--font-light-colour);
}

.appearance-body input[type="button"]:hover,
.general-body input[type="button"]:hover {
  background: var(--primary-colour);
  color: var(--font-light-colour);
}

span.options {
  color: var(--font-light-colour);
}

.sidebar a {
  color: var(--font-light-colour);
}

.sidebar a.active {
  color: var(--primary-colour);
}

.sidebar a:hover {
  color: var(--primary-colour);
}

button.browse:hover {
  background-color: var(--primary-colour);
  color: var(--font-light-colour);
}

zero-md template style body {
  background-color: var(--primary-bg-colour);
}
