:root {
  /* THEME COLORS */
  --body-color: #e4e9f7;
  --sidebar-color: #222831;
  --primary-color: #00ADB5;
  --folder-color: #393E46;
  --note-color: #EEEEEE;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background: var(--body-color);
  margin: 0;
  overflow: hidden;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 0px;
  width: 50px;
  background: var(--sidebar-color);
  transition: width 0.3s;
}

.sidebar .toggle {
  position: absolute;
  bottom: 20px;
  min-width: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  min-width: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.sidebar li .icon.active {
  color: var(--primary-color);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar li a:hover .icon {
  color: var(--primary-color);
}

.sidebar .menu-bar {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FOLDER CONTAINER */
.folder-container {
  position: fixed;
  top: 0;
  left: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  background: var(--folder-color);
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

.folder-container.close {
  opacity: 0;
  left: -250px;
}

.folder-buttons{
  font-size: 24px;
  cursor: pointer;
}

.folder-buttons i{
  margin: 5px;
}

.folder-buttons i:hover{
  color: var(--primary-color);
  transition: 0.3s;
}

.folder-buttons .bxl-markdown.active{
  color: var(--primary-color);
}

.folder-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home {
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

#home:hover {
  background: darken(var(--primary-color), 10%);
}

#current-path {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  border: solid 1px;
  border-radius: 4px;
  border-color: lightgray;
  background-color: var(--sidebar-color);
  font-weight: bold;
}

#file-explorer {
  margin-top: 20px;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}
/* NOTE CONTAINER */
.note-container {
  position: fixed;
  top: 0;
  left: calc(250px + 50px);
  height: 100%;
  width: calc(100vw - 300px);
  background: var(--note-color);
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.note-container hr {
  border: none;
  background-color: var(--folder-color);
  height: 1px;
  margin: 10px;
}

.note-container.close {
  left: 50px;
  width: calc(100vw - 50px);
}

.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 50px;
  padding: 10px; /* Add padding to the note editor */
}

.note-title {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-body {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none; /* Prevent resizing */
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
}

.tool-bar .note-name {
  flex-grow: 1;
  font-weight: bold;
  font-size: small;
}

.tool-bar i {
  margin-left: 10px;
  cursor: pointer;
}

.note-title,
.note-body {
  width: 100%;
  margin-bottom: 5px;
  background-color: var(--note-color); /* Set background color */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  padding: 10px; /* Add padding */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.note-title {
  font-weight: bold;
}




/* OPENING AND CLOSING FOLDER */
body {
  font-family: Arial, sans-serif;
}

.folder-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-tree li {
  margin: 0;
  padding: 0 2px;
  line-height: 20px;
  cursor: pointer;
}

.folder-tree .folder::before {
  content: ">";
  margin-right: 5px;
}

.folder-tree .file::before {
  content: "📄 ";
  margin-right: 5px;
}

.folder-tree ul ul {
  display: none;
  margin-left: 10px;
  padding-left: 5px;
  border-left: 1px solid #ccc;
}

.folder-tree ul ul.show {
  display: block;
}

.folder-tree .folder.show::before{
  content: "v";
}