/* Oculta la barra de desplazamiento */
body::-webkit-scrollbar {
  width: 0px;
}

/* Ajusta el cuerpo para ocupar toda la altura de la ventana y elimina márgenes */
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
}

/* Barra lateral fija */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 0px;
  width: 50px;
  transition: width 0.3s;
}

/* Botón de alternar la barra lateral */
.sidebar .toggle {
  position: absolute;
  bottom: 20px;
  min-width: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Barra de menú en la barra lateral */
.sidebar .menu-bar {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Elementos de la lista en la barra lateral */
.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

/* Iconos en los elementos de la lista de la barra lateral */
.sidebar li .icon {
  min-width: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Enlaces en los elementos de la lista de la barra lateral */
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
}

/* Contenedor de carpetas */
.folder-container {
  position: fixed;
  top: 0;
  left: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

/* Contenedor de carpetas cerrado */
.folder-container.close {
  opacity: 0;
  left: -250px;
}

/* Botones de las carpetas */
.folder-buttons {
  font-size: 24px;
  cursor: pointer;
}

.folder-buttons i {
  margin: 5px;
}

.folder-buttons i:hover {
  transition: 0.3s;
}

/* Opciones de las carpetas */
.folder-options {
  font-size: 24px;
  cursor: pointer;
}

.folder-options i {
  margin: 5px;
}

.folder-options i:hover {
  transition: 0.3s;
}

/* Menú de las carpetas */
.folder-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Mostrar la ruta actual */
#current-path {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  border: solid 1px;
  border-radius: 4px;
  font-weight: bold;
}

/* Contenedor de notas */
.note-container {
  position: fixed;
  top: 0;
  left: calc(250px + 50px);
  height: 100%;
  width: calc(100vw - 300px);
  padding: 0;
  box-sizing: border-box;
}

.note-container hr {
  border: none;
  height: 1px;
  margin: 10px;
}

/* Contenedor de notas cerrado */
.note-container.close {
  left: 50px;
  width: calc(100vw - 50px);
}

/* Editor de notas */
.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 50px;
  padding: 10px;
}

/* Título de la nota */
.note-title {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cuerpo de la nota */
.note-body {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

/* Barra de herramientas */
.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
}

/* Nombre de la nota en la barra de herramientas */
.tool-bar .note-name {
  flex-grow: 1;
  font-weight: bold;
  font-size: small;
}

/* Indicador de nota no guardada */
.note-name.notSaved::before {
  content: "• ";
}

/* Iconos en la barra de herramientas */
.tool-bar i {
  margin-left: 10px;
  cursor: pointer;
}

/* Estilo compartido para el título de la nota, cuerpo de la nota y zero-md */
.note-title,
.note-body,
zero-md {
  width: 100%;
  margin-bottom: 5px;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estilo específico para el título de la nota */
.note-title {
  font-weight: bold;
  min-height: 48px;
}

/* Margen inferior para zero-md y el cuerpo de la nota */
zero-md,
.note-body {
  margin-bottom: 35px;
}

/* Abrir y cerrar carpetas */
.folder-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-tree li {
  margin: 0;
  padding: 0 2px;
  line-height: 20px;
  cursor: pointer;
}

/* Icono de carpeta */
.folder-tree .folder::before {
  content: "›";
  margin-right: 5px;
}

/* Icono de archivo */
.folder-tree .file::before {
  content: "📄 ";
  margin-right: 5px;
}

/* Sublistas de carpetas */
.folder-tree ul ul {
  display: none;
  padding-left: 3px;
  margin-left: 4px;
  border-left: 1px solid #ccc;
}

/* Sublistas de carpetas abiertas */
.folder-tree ul ul.show {
  display: block;
}

/* Carpeta abierta */
.folder-tree .folder.show::before {
  content: "⌄";
}

/* Ancho completo para la carpeta */
.folder-tree .folder {
  width: 100%;
}