/* Scrollbar */
body::-webkit-scrollbar {
  width: 0px;
}

/* Body */
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 0px;
  width: 50px;
  transition: width 0.3s;
}

.sidebar .toggle {
  position: absolute;
  bottom: 20px;
  min-width: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar .menu-bar {
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  min-width: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
}

/* Folder Container */
.folder-container {
  position: fixed;
  top: 0;
  left: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

.folder-container.close {
  opacity: 0;
  left: -250px;
}

.folder-buttons {
  font-size: 24px;
  cursor: pointer;
}

.folder-buttons i {
  margin: 5px;
}

.folder-buttons i:hover {
  transition: 0.3s;
}

.folder-options {
  font-size: 24px;
  cursor: pointer;
}

.folder-options i {
  margin: 5px;
}

.folder-options i:hover {
  transition: 0.3s;
}

.folder-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Current Path Display */
#current-path {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  border: solid 1px;
  border-radius: 4px;
  font-weight: bold;
}

/* Note Container */
.note-container {
  position: fixed;
  top: 0;
  left: calc(250px + 50px);
  height: 100%;
  width: calc(100vw - 300px);
  padding: 0;
  box-sizing: border-box;
}

.note-container hr {
  border: none;
  height: 1px;
  margin: 10px;
}

.note-container.close {
  left: 50px;
  width: calc(100vw - 50px);
}

.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 50px;
  padding: 10px;
}

.note-title {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-body {
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
}

.tool-bar .note-name {
  flex-grow: 1;
  font-weight: bold;
  font-size: small;
}

.note-name.notSaved::before {
  content: "• ";
}

.tool-bar i {
  margin-left: 10px;
  cursor: pointer;
}

.note-title,
.note-body,
zero-md {
  width: 100%;
  margin-bottom: 5px;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

.note-title {
  font-weight: bold;
  min-height: 48px
}

zero-md,
.note-body {
  margin-bottom: 35px;
}

/* Opening and Closing Folder */
.folder-tree {
  color: white;
}

.folder-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-tree li {
  margin: 0;
  padding: 0 2px;
  line-height: 20px;
  cursor: pointer;
}

.folder-tree .folder::before {
  content: "›";
  margin-right: 5px;
}

.folder-tree .file::before {
  content: "📄 ";
  margin-right: 5px;
}

.folder-tree ul ul {
  display: none;
  padding-left: 3px;
  margin-left: 4px;
  border-left: 1px solid #ccc;
}

.folder-tree ul ul.show {
  display: block;
}

.folder-tree .folder.show::before {
  content: "⌄";
}

.folder-tree .folder{
  width: 100%;
}

.folder-tree .file:hover, .folder-tree .folder:hover{
  background-color: rgb(39, 39, 39);
}

.folder-tree .file{
  color: white;
}