/* Oculta la barra de desplazamiento */
body::-webkit-scrollbar {
    width: 0px;
}

/* Ajusta el cuerpo para ocupar toda la altura de la ventana y elimina márgenes */
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
}

/* Barra lateral fija a la izquierda */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 0px;
    width: 50px;
    transition: width 0.3s;
}

/* Barra de menú en la barra lateral */
.sidebar .menu-bar {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Elementos de la lista en la barra lateral */
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

/* Iconos en los elementos de la lista de la barra lateral */
.sidebar li .icon {
    min-width: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
}

/* Enlaces en los elementos de la lista de la barra lateral */
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
}

/* Contenedor principal de las tareas */
.task-body {
    position: fixed;
    left: 50px;
    width: calc(100vw - 50px);
    height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* Contenedor de tareas */
.task-container {
    display: flex;
    justify-content: space-around;
}

/* Contenedores de las listas de tareas */
.todo,
.doing,
.done {
    width: 30%;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Lista de tareas pendientes */
.todo {
    background-color: #ff4c42;
}

/* Lista de tareas en progreso */
.doing {
    background-color: #FFDC00;
}

/* Lista de tareas completadas */
.done {
    background-color: #2ECC40;
}

/* Estilo de los elementos hr en las listas */
.todo hr,
.doing hr,
.done hr {
    margin: 10px 0;
    padding-left: 20px;
}

/* Encabezados de las listas */
.todo h3,
.doing h3,
.done h3 {
    display: flex;
    width: 100px;
    margin-top: 0;
    padding-right: 30px;
}

/* Iconos de agregar tarea en los encabezados */
.todo .bx-plus,
.doing .bx-plus,
.done .bx-plus {
    width: 16px;
    display: flex;
    align-items: center;
}

/* Títulos de las listas */
.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Iconos en los títulos de las listas */
.title-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Estilo de las tareas individuales */
.task {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: grab;
}

/* Estilo cuando una tarea se está arrastrando */
.task.dragging {
    opacity: 0.5;
}

/* Estilo de la tarjeta modal */
.modal-card {
    width: 400px;
}

/* Estilo del input de tarea */
#task-input {
    width: 100%;
}

/* Estilo de las listas de tareas */
#todo-tasks.tasks,
#doing-tasks.tasks,
#done-tasks.tasks {
    min-height: 100px;
}