:root {
    --body-color: #e4e9f7;
    --sidebar-color: #222831;
    --primary-color: #00ADB5;
    --folder-color: #393E46;
    --note-color: #EEEEEE;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0px;
}

/* Body */
body {
    height: 100vh;
    background: var(--body-color);
    margin: 0;
    overflow: hidden;
    display: flex;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 0px;
    width: 50px;
    background: var(--sidebar-color);
    transition: width 0.3s;
}

.sidebar .menu-bar {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
}

.sidebar li .icon.active {
    color: var(--primary-color);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar li a:hover .icon {
    color: var(--primary-color);
}

.task-body {
    position: fixed;
    left: 50px;
    width: calc(100vw - 50px);
    height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.task-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo,
.doing,
.done {
    width: 30%;
    /* Adjust as needed */
    min-height: 200px;
    /* Set minimum height */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.todo {
    background-color: #FF4136;
    /* Red */
    color: #fff;
    /* White text */
}

.doing {
    background-color: #FFDC00;
    /* Yellow */
}

.done {
    background-color: #2ECC40;
    /* Green */
}

.todo hr,
.doing hr,
.done hr {
    margin: 10px 0;
    padding-left: 20px;
}

.todo h3,
.doing h3,
.done h3 {
    display: flex;
    width: 100px;
    margin-top: 0;
    padding-right: 30px;
    /* Add padding to accommodate the icon */
}

.todo .bx-plus,
.doing .bx-plus,
.done .bx-plus {
    width: 16px;
    display: flex;
    align-items: center;
    /* Center vertically */
}

/* Titles */
.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title Icons */
.title-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}
