/* Vanilla css */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#options {
  width: 300px;
  height: auto;
  background-color: lightblue;
}

.container {
  width: 800px;
  background-color: darkcyan;
  color: white;
}